<%= form_for @deploy, :html => { :class => "form-horizontal deploy" } do |f| %>

    <% if @deploy.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@deploy.errors.count, "error") %> prohibited this deploy from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @deploy.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :project_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :project_id, options_for_select(@projects), {}, :multiple => true, :class => 'form-control' %>
    </div>
    <%= error_span(@deploy[:project_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :pull_request, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :pull_request, [], {}, :multiple => true, :class => 'form-control' %>
    </div>
    <%= error_span(@deploy[:pull_request]) %>
  </div>

  <div class="button-group">
    <%= f.submit "Request Deployment", :class => 'btn btn-primary disabled' %>
    <br>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              deploys_path, :class => 'btn btn-default' %>
    <br>
    <span id='migration_warning' class='hidden'>WARNING: This request contains<br>database migrations.</span>
    </p>
  </div>

  <script>
    var pullRequests = <%= @pull_requests.to_json.html_safe %>;

    function prList(prs) {
      var result = '<select class="form-control" id="deploy_pull_request" multiple="multiple" name="deploy[pull_request][]">';
      for (pr of Object.keys(prs).sort().reverse()) {
        var name = "";
        result = result.concat('<option value="'+pr+'">');
        if (prs[pr].status == "pass")
          name = prs[pr].name.concat(" ✔︎")
        else
          name = prs[pr].name.concat(" ✘");
        result = result.concat([pr, name, prs[pr].description].join(' | '));
        result = result.concat('</option>');
      };
      return result.concat('</select>');
    };

    $('#deploy_project_id').change(function(e) {
      var projectPRs = pullRequests[e.target.selectedOptions[0].text];
      $('#deploy_pull_request').html(prList(projectPRs));
      $('.btn-primary').addClass('disabled');
    });

    $('#deploy_pull_request').change(function(e) {
      var projectPRs = pullRequests[$('#deploy_project_id')[0].selectedOptions[0].text];
      var selectedPR = projectPRs[e.target.selectedOptions[0].text.split(' ')[0]];
      $('.btn-primary').removeClass('disabled');
      if (selectedPR.has_migrations)
        $('#migration_warning').removeClass('hidden')
      else
        $('#migration_warning').addClass('hidden');
    });
  </script>

<% end %>
