<%= form_for @deploy, :html => { :class => "form-horizontal deploy" } do |f| %>

    <% if @deploy.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@deploy.errors.count, "error") %> prohibited this deploy from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @deploy.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :project_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :project_id, options_for_select(@projects), :class => 'form-control' %>
    </div>
    <%= error_span(@deploy[:project_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :pull_request, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pull_request, :class => 'form-control' %>
    </div>
    <%= error_span(@deploy[:pull_request]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            deploys_path, :class => 'btn btn-default' %>

  <script>
    $('#deploy_project_id').change(function() {
      console.log('tagEvent: Change Deploy Project');
      ll('tagEvent', 'Change Deploy Project');
    }).change();

    $('#deploy_pull_request').change(function() {
      console.log('tagEvent: Change Deploy Pull Request');
      ll('tagEvent', 'Change Deploy Pull Request');
    }).change();
  </script>
<% end %>
