<%= form_for(@deploy) do |f| %>
  <% if @deploy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deploy.errors.count, "error") %> prohibited this deploy from being saved:</h2>

      <ul>
      <% @deploy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.select :project_id, options_for_select(@projects) %>
  </div>
  <div class="field">
    <%= f.label :pull_request %><br>
    <%= f.number_field :pull_request %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <script>
    $('#deploy_project_id').change(function() {
      console.log('tagEvent: Change Deploy Project');
      ll('tagEvent', 'Change Deploy Project');
    }).change();

    $('#deploy_pull_request').change(function() {
      console.log('tagEvent: Change Deploy Pull Request');
      ll('tagEvent', 'Change Deploy Pull Request');
    }).change();
  </script>
<% end %>
