<script>
  console.log('tagScreen: Deploys');
  ll('tagScreen', 'Deploys');
</script>

<h1>Listing deploys</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Requestor</th>
      <th>Pull request</th>
      <th>State</th>
      <th>Sha</th>
      <th>Branch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deploys.each do |deploy| %>
      <tr>
        <td><%= deploy.project_id %></td>
        <td><%= deploy.requestor_id %></td>
        <td><%= deploy.pull_request %></td>
        <td><%= deploy.state %></td>
        <td><%= deploy.sha %></td>
        <td><%= deploy.branch %></td>
        <td><%= link_to 'Show', deploy %></td>
        <td><%= link_to 'Edit', edit_deploy_path(deploy) %></td>
        <td><%= link_to 'Destroy', deploy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deploy', new_deploy_path %>
