<%= form_for(@deploy_event) do |f| %>
  <% if @deploy_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deploy_event.errors.count, "error") %> prohibited this deploy_event from being saved:</h2>

      <ul>
      <% @deploy_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deploy_id %><br>
    <%= f.number_field :deploy_id %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_area :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
